<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">134679</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sqlclass?useUnicode=true&amp;characterEncoding=utf-8</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
        <!-- 显示语句的格式化 -->
        <property name="hibernate.format_sql">true</property>
        <!--
            设置事务的隔离级别
               1—Read uncommitted isolation
               2—Read committed isolation
               4—Repeatable read isolation
               8—Serializable isolation
       -->
        <property name="hibernate.connection.isolation">4</property>
        <!--
            session对象的生命周期与本地线程绑定
            hibernate.current_session_context_class 属性用于指定 Session 管理方式, 可选值包括
                * thread: Session 对象的生命周期与本地线程绑定
                * jta*: Session 对象的生命周期与 JTA 事务绑定
                * managed: Hibernate 委托程序来管理 Session 对象的生命周期
        -->
        <property name="hibernate.current_session_context_class">thread</property>

       <!-- <mapping resource="com/yb/domain/User.hbm.xml"/>
        <mapping resource="com/yb/domain/Order.hbm.xml"/>
        <mapping resource="com/yb/domain/Book.hbm.xml"/>-->
        <mapping resource="com/yb/domain/Flight.hbm.xml"/>
    </session-factory>
</hibernate-configuration>